body{
    background-color: rgb(181, 701, 901);
}
p{
    background-color: pink;
}
a{
    background-color: rgb(175, 212, 212);
}
div{
    background-color: beige;
}
span{
    background-color: blanchedalmond;
}