* {
    margin: 0;
    padding: 0;
  }
  .parent {
    margin-left: 45vw;
    margin-top: 10vh;
    width: 150px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 23px;
  }
  img {
    border-radius: 23px;
  }
  span {
    display: inline-block;
    width: 3vmax;
    text-align: center;
    font-size: 10px;
    border: 1px solid gray;
    border-radius: 11px;
  }
  .text span {
    margin-left: 37px;
    margin-top: 9px;
    width: 4vmax;
    background-color: #cce9f4;
  }
  h2 {
    margin-top: 7px;
    margin-bottom: 7px;
    line-height: 23px;
  }
